@tailwind base;
@tailwind components;
@tailwind utilities;




.dark {
  --primary-bg: #000000;
  --secondary-bg: #000000;
  --primary-text: #ffffff;
  --secondary-text: #d1d5db;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: "Poppins", sans-serif;
}

